extends ../layout

block Subject
	title 레전드끄투 - 저작권 안내

block Middle
	div.legal-box(style='padding: 20px; color: white; height: 100%;')
		h1 저작권 안내
		h3 레전드끄투는 다음 레포지토리 및 저작물의 일부 혹은 전체를 사용하고 있습니다.
		ul
			li 
				a(href='https://github.com/JJoriping/KKuTu', target='_blank') https://github.com/JJoriping/KKuTu
		ul
			li 적용된 PR
				br
				a(href='https://github.com/JJoriping/KKuTu/pull/584', target='_blank') https://github.com/JJoriping/KKuTu/pull/584
				br
				a(href='https://github.com/JJoriping/KKuTu/pull/781', target='_blank') https://github.com/JJoriping/KKuTu/pull/781
				br
				a(href='https://github.com/JJoriping/KKuTu/pull/865', target='_blank') https://github.com/JJoriping/KKuTu/pull/865
				br
				a(href='https://github.com/JJoriping/KKuTu/pull/877', target='_blank') https://github.com/JJoriping/KKuTu/pull/877
				br
				a(href='https://github.com/JJoriping/KKuTu/pull/925', target='_blank') https://github.com/JJoriping/KKuTu/pull/925
				br
				a(href='https://github.com/JJoriping/KKuTu/pull/935', target='_blank') https://github.com/JJoriping/KKuTu/pull/935
				br
				a(href='https://github.com/JJoriping/KKuTu/pull/1042', target='_blank') https://github.com/JJoriping/KKuTu/pull/1042
		ul
			li 참고한 레포지토리
				br
				a(href='https://github.com/githubmahan/KKuTu', target='_blank') https://github.com/githubmahan/KKuTu
				br
				a(href='https://github.com/pinkleaves/KKuTu', target='_blank') https://github.com/pinkleaves/KKuTu
				br
				a(href='https://github.com/ljs970624/KKuTu', target='_blank') https://github.com/ljs970624/KKuTu
				br
				a(href='https://github.com/wjdgustn/KKuTu', target='_blank') https://github.com/wjdgustn/KKuTu
				br
				a(href='https://github.com/Preta-Crowz/KKuTu', target='_blank') https://github.com/Preta-Crowz/KKuTu
				br
				a(href='https://github.com/kitt3n69420/KKuTu', target='_blank') https://github.com/kitt3n69420/KKuTu
				br
				a(href='https://github.com/RevelabsKR/KKuTu', target='_blank') https://github.com/RevelabsKR/KKuTu
				br
				a(href='https://github.com/minjun1177/DE-LZB-KKuTu', target='_blank') https://github.com/minjun1177/DE-LZB-KKuTu
			//- li https://github.com/Korgather/ZEP-KKuTu
		ul
			li 참고한 리소스
				br
				a(href='https://daldal.so/w/참나무/도토리디자인', target='_blank') https://daldal.so/w/참나무/도토리디자인
				br
				a(href='https://youtu.be/MkWh5uMk3lM', target='_blank') https://youtu.be/MkWh5uMk3lM
				br
				a(href='https://youtu.be/qE6mruRB1PA', target='_blank') https://youtu.be/qE6mruRB1PA
block Bottom
	div.bottom-legal!= L('License')