extends ../layout

block Subject
	title 레전드끄투 - 저작권 안내

block Middle
	div.legal-box(style='padding: 20px; color: white; height: 100%;')
		h1 저작권 안내
		h3 레전드끄투는 다음 레포지토리 및 저작물의 일부 혹은 전체를 사용하고 있습니다.
		ul
			li 원작
			li - https://github.com/JJoriping/KKuTu
		ul
			li 적용된 PR
			li - https://github.com/JJoriping/KKuTu/pull/584
			li - https://github.com/JJoriping/KKuTu/pull/781
			li - https://github.com/JJoriping/KKuTu/pull/865
			li - https://github.com/JJoriping/KKuTu/pull/877
			li - https://github.com/JJoriping/KKuTu/pull/925
			li - https://github.com/JJoriping/KKuTu/pull/935
			li - https://github.com/JJoriping/KKuTu/pull/1042
		ul
			li 참고한 레포지토리
			li - https://github.com/githubmahan/KKuTu
			li - https://github.com/pinkleaves/KKuTu
			li - https://github.com/ljs970624/KKuTu
			li - https://github.com/wjdgustn/KKuTu
			li - https://github.com/Preta-Crowz/KKuTu
			li - https://github.com/kitt3n69420/KKuTu-N
			li - https://github.com/RevelabsKR/KKuTu
		ul
			li 참고한 저작물
			li - https://daldal.so/w/참나무/도토리디자인
			li - https://youtu.be/MkWh5uMk3lM
			li - https://youtu.be/qE6mruRB1PA
			li - https://youtu.be/DYVgz-44XKI
			li - https://youtu.be/jkXYLlu4Dq8
block Bottom
	div.bottom-legal!= L('License')