extends ../layout

block Subject
	title 레전드끄투 - 운영 정책

block Middle
	div.legal-box(style='padding: 20px; color: white; height: 100%;')
		h1 운영 정책
		h3 제1조 (목적)
		ul
			li 본 운영 정책은 레전드끄투(이하 사이트)의 이용 약관과 맞물려 인터넷 사용자(이하 사용자)의 권리를 보호하고 인터넷 서비스(이하 서비스) 내 질서 유지를 위해 필요한 사항을 정하는 것을 목적으로 합니다.
		
		h3 제 2조(사용자의 권리와 의무)
		ul
			li 사용자는 사이트를 이용하는 모든 자를 의미하며, 사용자는 운영 정책을 준수하여야 합니다.
			li 사용자는 운영진으로부터 부당한 처우를 받았다고 판단되는 경우 운영진의 공식 이메일을 통해 문의하거나 개선을 요청할 수 있습니다.
			li 사용자는 사이트를 이용하면서 운영 정책을 위반하여 타 사용자의 이용을 방해했을 경우 운영진에게 해당 건을 신고할 수 있습니다.
			li 사용자는 운영 정책을 위반하여 타 사용자에게 피해를 입혔을 경우 해당 손해에 대한 모든 책임은 사용자가 부담하여야 합니다.
			li 사용자는 자신의 계정을 포함한 모든 개인정보는 철저하게 관리하여야 하며, 사용자의 계정 및 개인정보를 제3자에게 공유 또는 양도하거나 현금 거래 등 부정한 목적으로 제공해서는 안되며, 이러한 행위로 발생하는 모든 책임은 사용자에게 있습니다.
		
		h3 제 3조(운영진의 역할과 활동)
		ul
			li 운영진은 원활한 사이트 운영 및 서비스를 제공하기 위해 노력하고 있습니다.
			li 운영진은 사이트 내 중요한 이슈가 발견됐을 경우 사용자에게 영향을 끼치는 내용에 대해 공지사항을 통해 안내해야 합니다.
			li 운영진은 사용자로부터 접수된 요청사항은 가능한 한 빠른 시일 내에 확인하고 운영 정책에 따라 필요한 조치를 취해 사용자의 불편을 최소화해야 합니다.
			li 운영진은 사용자로부터 정상적인 서비스 이용에 개입하지 않는 것을 원칙으로 하지만, 해당 경우에는 예외적으로 개입할 수 있으며 이때는 사실을 확인하여 게임 질서 유지 및 사용자 보호를 위해 필요한 조치를 취할 수 있습니다.
				br
				| 1. 사용자가 본 운영 정책을 위반했을 경우
				br
				| 2. 운영진의 정당한 활동을 방해하거나 타 사용자의 정상적인 서비스 이용을 방해했을 경우
				br
				| 3. 정상적인 사이트 이용을 저해하는 경우

		h3 제 4조(약관 위반 시 조치)
		ul
			li 사용자가 본 운영 정책을 위반했을 경우 운영진은 약관에 명시된 기준에 따라 제재를 적용할 수 있습니다.
			li 기본적인 제재 기준은 다음과 같으며, 각 항목별로 제재 내용이 상이할 경우 다르게 적용하여 제재할 수 있습니다. 또한, 그 내용이 심각하다고 판단될 경우 운영진의 재량에 따라 제재 기준을 초과하여 제재할 수 있습니다. 
				br
				| - 1차: 게임 이용 제한 1일
				br
				| - 2차: 게임 이용 제한 7일
				br
				| - 3차: 게임 이용 제한 30일
				br
				| - 4차: 게임 이용 영구 제한
			li 사용자의 운영 정책 위반으로 운영진이 제재를 가해야할 경우 다음 사항을 통해 제재를 적용합니다.

		h3 1. 닉네임 정책 위반 (해당 위반은 강제 닉네임 변경 조치를 동반함)
		ul
				br
				| - 닉네임에 욕설, 비속어 등의 내용을 우회한 경우
				br
				| - 닉네임에 타인의 권리를 침해하는 내용이 포함된 경우
				br
				| - 닉네임에 개인정보를 포함한 경우
				br
				| - 닉네임에 사이트의 명예를 훼손하는 내용이 포함된 경우
		h3 2. 게임 이용 방해
		ul
			br
			| - 욕설 등의 비속어, 남을 비방하거나 명예를 훼손한 경우
			br
			| - 선정적이고 음란한 표현 등 성적인 내용을 언급한 경우
			br
			| - 정치, 종교, 인종, 성별 등 사회적 분쟁을 유발하거나 이를 조장 및 동조한 경우

		h3 3. 부적절한 정보 거래
		ul
			br
			| - 허위 사실을 유포한 경우
			br
			| - 현금 거래 등 부정한 목적으로 계정 정보를 제공한 경우
			br
			| - 본 사이트와 무관한 상업적인 정보를 공유한 경우
			br
			| - 시스템 결함, 오류 등을 통한 부정한 이득을 취한 경우
		
		h3 4. 비인가 프로그램 (해당 위반은 단계별 제재 적용이 아닌 적발 시 바로 4차 제재를 적용함)
		ul
			br
			| - 비인가 프로그램을 사용한 경우
			br
			| - 비인가 프로그램을 제작 및 유포한 경우
			br
			| - 해킹 및 클라이언트 변조를 시도한 경우

		h3 5. 비정상적인 플레이 행위
		ul
			br
			| - 어뷰징 행위를 통해 부정한 이득을 취한 경우
			br
			| - 친목 행위 등 타 사용자의 정상적인 서비스 이용을 방해한 경우
		
		h3 6. 운영 업무
		ul
			br
			| - 운영진의 정당한 업무에 방해 및 개입한 경우
			br
			| - 허위 신고를 통해 운영진의 업무를 방해한 경우
		
		h3 제 5조 (복구 정책)
		ul
			li 본인 계정에 대해서만 제재 사유를 확인할 수 있으며, 이에 대한 이의 제기를 요청할 수 있습니다.
			li 운영진은 사용자의 이의 제기 요청에 대해 사실 확인을 거쳐 필요한 경우 제재를 완화하거나 해제할 수 있습니다.
block Bottom
	div.bottom-legal!= L('License')