extends ../layout

block Subject
	title 레전드끄투 - 개인정보 취급 방침

block Middle
	div.legal-box(style='padding: 20px; color: white; height: 100%;')
		h1 개인정보 취급 방침
		h3 1. 개인정보 수집에 대한 동의
		ul
			li 사용자가 사이트의 서비스를 이용하기 위해 사이트가 제공하는 로그인 방법을 이용하여 로그인할 경우 사용자는 본 방침에서 제시하는 개인정보 수집에 및 처리에 대해 동의한 것으로 간주합니다.
			li 사용자가 사이트의 서비스를 이용하기 위해 사이트의 홈페이지를 통한 메뉴 이동 및 검색 등이 이루어진 경우 사용자는 본 방침에서 제시하는 개인정보 수집 및 처리에 대해 동의한 것으로 간주합니다.

		h3 2. 개인정보 수집 및 처리의 목적
		ul 
			li 사이트는 사용자의 개인정보를 다음 목적을 위해 수집 및 처리하고 있습니다.
				li 1. 사용자의 식별, 인증, 부정 이용 방지 등의 목적
				li 2. 사이트의 서비스 제공
				li 3. 사이트의 서비스 이용 분석을 통한 개선된 서비스 제공

		h3 3. 수집 및 처리하는 개인정보의 항목
		ul
			li 사이트는 사용자에게 서비스를 제공하기 위해 다음 항목을 수집 및 처리하고 있습니다.
			li 1. Daldalso 사의 'Daldalso OAuth 2.0' 서비스의 방침에 의해 수집 및 처리되는 정보
			li 2. Facebook 사의 'Facebook Login' 서비스의 방침에 의해 수집 및 처리되는 정보
			li 3. Naver Corp. 사의 '네이버 아이디로 로그인' 서비스의 방침에 의해 수집 및 처리되는 정보
			li 4. Google 사의 'Google OAuth 2.0' 서비스의 방침에 의해 수집 및 처리되는 정보
			li 5. Discord 사의 'Discord OAuth2' 서비스의 방침에 의해 수집 및 처리되는 정보

		h3 4. 개인정보의 파기
		ul 
			li 사이트는 원칙적으로 개인정보 수집 및 처리의 목적이 이루어진 경우 다음 절차와 방법에 의해 가능한 한 신속하게 해당 개인정보를 파기합니다.
			li 사용자가 서비스 이용을 중단한 후, 내부 방침 및 기타 관련 법령에 의한 정보 보호 사유에 따라 일정 기간 저장된 후 파기됩니다. 이 때 종이에 출력된 개인정보는 분쇄 및 소각을 통하여, 전자적 정보는 기록을 재생할 수 없도록 하여 파기합니다.

		h3 5. 개인정보 보호를 위한 조치 및 보호 책임자
		ul 
			li 사이트는 사용자의 개인정보를 취급함에 있어 개인정보가 누출 및 훼손되지 않도록 노력하고 있습니다. 이러한 개인정보 취급에 관련한 불만 처리 및 피해 구제 등을 위해 사이트에서는 개인정보 보호 책임자의 연락처를 제공하고 있습니다.
			li - kbg5113@gmail.com
block Bottom
	div.bottom-legal!= L('License')